.user-form{
    /* width: 30%; */
    margin: 5px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-form div{
    margin: 5px;
}
.user-form button{
    margin: 5px;
    margin-left: 0;
}